# Default ignored files
/shelf/
/workspace.xml

\Users\moied\Desktop\4th year\Project\javaproj\45

# Datasource local storage ignored files
/../../../../../../../../:\Users\moied\Desktop\4th year\Project\javaproj\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
